.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
    color: #010101;
    padding: 20px;
}

.container h1 {
    font-size: 60px;
}

.container h2 {
    font-size: 30px;
}